.container_12
{
  $num : 12;
  @include alternative_grid($num);
  @include column_width_4($grid, $num);

}

.container_16
{
  $num : 16;
  @include alternative_grid($num);
  @include column_width_4($grid, $num);
}

.container_24
{
  $num : 24;
  @include alternative_grid($num);
  @include column_width_4($grid, $num);
}
